{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ]
  ],
  "env": {
    "build": {
      "plugins": [
        "external-helpers",
        "transform-object-assign"
      ]
    }
  }
}
